{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{% static 'css/styles.css'%}" rel="stylesheet" type="text/css">
    <script src="{% static 'scripts/jquery.js'%}"></script>
    <script src="{% static 'scripts/scripts.js'%}"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<div id="page">
    <header>
        {% block login %}
            <a id="login-button" href="/login/">LOGIN</a>
        {% endblock %}
        <h1>Header</h1>
        <p>
            First App
        </p>
        <hr>
    </header>
    <nav>
        <section>
        <h2>Cadastros</h2>
            <a href="/novo_departamento/">Novo Departamento</a>
            <a href="/novo_produto/">Novo Produto</a>
            <a href="/nova_compra/">Lançar Compra</a>
            <a href="/nova_venda/">Lançar Venda</a>
        </section>
        <section>
            <header>
                <h2>Consultas</h2>
            </header>
            <a href="/produtos/">Produtos</a>
            <a href="/departamentos/">Departamentos</a>
            <a href="/compras/">Compras</a>
            <a href="/vendas/">Vendas</a>
        </section>
        <section>
            <header>
                <h2>Outros</h2>
            </header>
            <a href="/email/">Email</a>
            <a href="/contato/">Contato</a>
        </section>
    </nav>
    <section id="content">
    {% block content %}
            <p>Content</p>
    {% endblock %}
    </section>

    {% block footer %}
    <footer>
        <hr>
        <h1>Footer</h1>
    </footer>
    {% endblock %}
</div>
</body>
</html>