{% extends "base.html" %}
{% block content %}
<div class="starter-template">
    <header class="jumbotron">
        <h1>Bem vindo ao OnStock.com</h1>
        <p>Oferecemos vários tipos de serviços para você ajudar o seu empreendimento.</p>
        <a class="btn btn-lg btn-info" href="#">Conheça nossos serviços</a>
    </header>
    <section>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div><!-- /.col-sm-4 -->
        </div>
    </section>
</div>
{% endblock %}